body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
  color: #f0f0f0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#parent-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 80%;
  height: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #f0f0f0;
  justify-items: center;
  align-items: start;
  padding: 20px;
}

form {
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

form #Input {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

label {
  display: block;
  font-weight: bold;
  margin: 12px;
  font-size: 14px;
}

input[type="number"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: rgb(39, 39, 39);
  color: #f0f0f0;
  height: 5px;
  Width: 70px
}

button {
  background-color: rgb(42, 134, 76);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(87, 113, 161);
}

#tableContainer {
  padding: 0px;
  border-radius: 8px;
  overflow-y: auto;
  height: 100%;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solidrgb(103, 103, 103);
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(42, 134, 76);
  color: white;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  padding: 3px;
  border: 1px solid #555;
}
